@import 'styles/variables.scss';

.root {
  min-height: 44px;
  min-width: 80px;
  max-width: 200px;
  width: auto;
  font-size: 15px;
  font-weight: bold;
  text-transform: none;
  text-align: center;
  line-height: 1.2;
  cursor: pointer;
  background-color: $black;
  color: $white;
  border: none;
  border-radius: 4px;
  margin: 10px 0;
  padding: 5px 10px;
}

.sizeFill {
  width: 100%;
}

.themePrimary {
  background-color: $black;
  color: $white;
}

.themeSecondary {
  background-color: $white;
  color: $black;
  border: solid 1px $light-gray-2;
}


.root:focus,
.root:hover {
  opacity: 0.6;
}
