@import '../../styles/variables.scss';

.root {
  width: 100%;
  line-height: 1.5;

  & button {
    border: none;
    background: none;
  }
}

.globalContainer {
  max-width: $page-max-width;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0 auto;
}

.h2Title {
  font-family: $font-bold;
  font-size: 18px;
  line-height: 27.9px;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.galery {
  display: flex;

  & img {
    //max-width: 360px;
    width: 50%;
    //max-height: 480px;
    height: 100%;
    padding: 30px 40px;
    margin: 0;
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
}

.productDesigner {
  font-family: $font-condensed;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.9px;
  line-height: 27.9px;
}

.productName {
  font-size: 16px;
  letter-spacing: normal;
  line-height: 21.9px;
  margin-top: 0;
}

.newSeason {
  font-size: 12px;
  color: #c4aa84;
  padding-top: 12px;
}

.productPrice {
font-size: 18px;
letter-spacing: normal;
line-height: 26.3px;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;

  & Button {
    margin: 10px;
  }
}

.history {
  background: $white;
  color: $light-gray-1;
  font-size: 13px;
  line-height: 1.3;
  text-align: left;
  padding: 12px 0;
  margin: 0;
}

.detailsContent {
  width: 100%;
  font-size: 12px;
}

.detailsContentMenu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid $light-gray-1;

  & .menu {
    display: flex;

    & .h2Title {
      padding-bottom: 0;
      margin-right: 48px;
      margin-bottom: 0;
      border-bottom: 3px solid transparent;
      will-change: border;
      transform: translateY(.1rem);
      transition: color 125ms,border .25s linear;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        border-bottom: 3px solid $brown;
      }
    }
  }
}

.contactUs {
  font-size: 12px;
  text-align: center;

  & p {
    padding: 20px 0;
  }
}

.contactUsContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  & span {
    padding: 0 30px 0 15px;;
  }
}

