@font-face {
  font-family: 'Polaris-Book';
  src: local('Polaris-Book'), url('assets/fonts/Polaris-Book.woff') format('woff');
}

@font-face {
  font-family: 'Polaris-Condensed-Bold';
  src: local('Polaris-Condensed-Bold'), url('assets/fonts/Polaris-Condensed-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Polaris-Bold';
  src: local('Polaris-Bold'), url('assets/fonts/Polaris-Bold.woff') format('woff');
}
