// COLORS
$black: #222;
$white: #fff;
$light-gray-1: #b6b6b6;
$light-gray-2: #aaa;
$red: #fd4f57;
$brown: #c4aa84;

// FONT-NAMES
$font-text: 'Polaris-Book';
$font-condensed: 'Polaris-Condensed-Bold';
$font-bold: 'Polaris-Bold';

// LAYOUT
$page-max-width: 1440px;
$fixed-header-height: 127px;
$header-padding-right: 35px;
$header-padding-left: 120px;
