@import '../../styles/variables.scss';

.root {
  height: 44px;
  width: 300px;
  color: $black;
  background-color: $white;
  font-family: $font-text;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid $light-gray-1;
  padding: 9px;
  margin: 10px 0;
  cursor: pointer;

  &:focus {
    border-bottom: solid 1px $black;
    outline: 0px;
  }
}

