@import '../../styles/variables.scss';

.root {
  max-width: 300px;
  width: 100%;
  list-style: none;
}

.colors {
  height: 26px;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  list-style: none;
  margin: 10px;

  & .color {
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
    margin: 0 10px 0 0;
  }

  & .colorName {
    height: 20px;
    margin: 0;
  }
}
