@import 'styles/variables.scss';

.root {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  letter-spacing: normal;
  line-height: 21.9px;
  padding-top: 40px;
}

.h1Title {
  font-family: $font-condensed;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.9px;
}

.h5title {
  font-family: $font-bold;
  font-size: 15px;
}

.detailContainer {
  display: flex;
  flex-grow: 1;

  & .column1 {
    flex-grow: 1;
    width: 50%;
    margin-right: 48px;
  }

  & .column2 {
    flex-grow: 1;
    width: 50%;
    margin-right: 48px;
    margin-left: 48px;
  }
}

.imgContainer {
  max-width: 30%;
  padding: 0;
  margin: 0;

  & img {
    width: 370px;
    height: 530px;
  }
}
