@import '../../styles/variables.scss';

.root {
  width: 100%;
  background: $black;
  color: $white;
  text-align: left;
  margin: 0;
  padding: 0;
}

.globalContainer {
  max-width: $page-max-width;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.section1 {
  display: flex;
  padding-bottom: 40px;
}

.baseline {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.container1 {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  & a,
  span {
    color: $white;
    font-size: 13px;
    line-height: 21px;
    text-decoration: none;
    margin: 0;
  }

  & a {
    text-decoration: underline;
  }

  & span {
    padding: 10px 0 20px 10px;
  }

  & .mediaIcons i {
    font-size: 24px;
    padding: 10px 15px 0 10px;
  }
}

.container2 {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  & span {
    color: $white;
    font-size: 13px;
    line-height: 21px;
    margin: 0;
    padding: 10px 0 20px 10px;
  }
}

.container2Cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .mediaIcons i {
    font-size: 18px;
    padding: 10px 15px 0 10px;
  }
}

.container3 {
  display: inline-flex;
}

.aboutAndService {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;

  & a {
    color: $white;
    font-size: 13px;
    line-height: 21px;
    text-decoration: none;
    margin: 0;
    padding: 5px 0 0 10px;

    &:hover {
      opacity: 1;
    }
  }
}

.footerTitle {
  color: $light-gray-2;
  font-family: $font-condensed;
  font-size: 13px;
  letter-spacing: 3px;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0 5px 10px;
}


.section2 {
  color: $light-gray-2;
  font-size: 11px;
  padding: 0 10px 20px 10px;
}
