@import '../../styles/variables.scss';

$input-height: 45px;

.root {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 100px;
  height: 40px;
  background-color: $white;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  border: solid 1px $light-gray-1;
  border-radius: 4px;
}

.input {
  height: 100%;
  border: none;
  font-size: 15px;
  background-color: transparent;
  padding: 9px;
  cursor: text;

  &:focus {
    outline: 0px;
  }
}

.icon {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: 0px;
  }
}
