@import '../../styles/variables.scss';

.root {
  width: 100%;
}

.main {
  width: 100%;
  max-width: $page-max-width;
  height: auto;
  min-height: calc(100vh - 359px);
  margin: 0 auto;
  padding-top: $fixed-header-height;
}
